<div class="page-header">
  <div class="inline">
    <h1>All Books</h1>
    <strong><%= 'tagged '+ @tag if @tag %></strong>
  </div>
</div>

<%= link_to 'Add a New Book', new_book_path, class: 'btn btn-large btn-success' %>

<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
      <tr>
        <td><%= image_tag book.cover_image.url(:thumb) %></td>
        <td><%= book.title %></td>
        <td><%= book.isbn %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Delete', book, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Add a New Book', new_book_path, class: 'btn btn-large btn-success' %>
<br>


